{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "DTF | Authorization" %}{% endblock title %}

{% block content %}
    <div class="container mtb">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">{% trans "Login" %}</h2>
                </br>
{#                FIXME: need to fix errors #}


{#                {{ form.errors }}#}
                <div class="col-sm-4"></div>
                <form method="POST" class="col-sm-4 form-horizontal" action="{% url 'login' %}">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <label for="{{ login_form.email.id_for_label }}">{% trans "E-mail" %}</label><br/>
                    {{ login_form.email }}
                    <label for="{{ login_form.password.id_for_label }}">{% trans "Password" %}</label><br/>
                    {{ login_form.password }}
                    <br />
                    <div class="auth-form-actions text-left">
                        <br />
                        <input type="submit" class="btn btn-default btn-success" value="{% trans "Sign In" %}" />
                        <a class="text-muted">{% trans "New to DTF?" %} <a href="{% url 'registration' %}" class="text-dark m-l-5">{% trans "Create an account" %}</a></a>
                    </div>
                </form>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
{% endblock content %}
