{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock title %}

{% block content %}
    <div class="container mtb">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">{% trans "Registration" %}</h1>
                <br/>
                <div>
                    <form method="POST" class="form-horizontal" action="{% url 'registration' %}">{% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.errors }}
                            <fieldset class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "First name" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.first_name }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "Last name" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.last_name }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "Middle name" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.middle_name }}
                                    </div>
                                 </div>
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "City" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.city }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label class="col-sm-4">{% trans "Date birth" %}</label>
                                    </div>
                                    <div class="col-sm-8">
                                        {{ registration_form.birthday }}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "University" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.university }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "Degree" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.degree }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "E-mail" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.email }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">{% trans "Password" %}</label>
                                    <div class="col-sm-8">
                                        {{ registration_form.password }}
                                    </div>
                                </div>
                            </fieldset>
                        <div class="from-group col-xs-12 text-center">
                            <input type="submit" class="btn btn-success btn-lg" value="{% trans "Complete registration" %}"/>
                            <br/>
                            <a class="text-muted">{% trans "Already have an account?" %} <a href="{% url 'login' %}" class="text-dark m-l-5">{% trans "Log In" %}</a></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}