{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% get_current_language as LANGUAGE_CODE%}

    <!-- Fixed navbar -->
    {% block navbar %}
        {% include "pages/navbar_pages.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}


    {% block scripts %}
        <script src="/static/pages/js/jquery.min.js"></script>
        <script src="{% static 'pages/../../static/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'pages/../../static/js/retina-1.1.0.js' %}"></script>
        <script src="{% static 'pages/../../static/js/jquery.hoverdir.js' %}"></script>
        <script src="{% static 'pages/../../static/js/jquery.hoverex.min.js' %}"></script>
        <script src="{% static 'pages/../../static/js/jquery.prettyPhoto.js' %}"></script>
        <script src="{% static 'pages/../../static/js/jquery.isotope.min.js' %}"></script>
        <script src="{% static 'pages/../../static/js/custom.js' %}"></script>
        <script src="{% static 'pages/../../static/js/portfolio.js' %}"></script>
    {% endblock scripts %}

