{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{% trans "Kontakt." %}</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-8">
      <img class="img-responsive" src="{% static 'pages/img/stefanpalis.jpg' %}" width="400" alt="">
    </div><!--/col-lg-8 -->

    <div class="col-lg-4">
      <h4>{% trans "Unsere Kontaktdaten" %}</h4>
      <div class="hline"></div>
      <p>
        Jun.-Prof. Dr.-Ing. Stefan Palis <br/>
        stefan.palis@ovgu.de<br/>
        <br/>
        Deutsch-Technische Fakult&auml;t <br/>
        Otto-von-Guericke Universit&auml;t Magdeburg<br/>
        Universit&auml;tsplatz 2, Geb&auml;ude 7, Raum 107 <br/>
        39106 Magdeburg<br/>
      </p>
    </div>
  </div><!--/row -->
</div><!--/container -->
<iframe width="100%" height="250" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=universit%C3%A4t%20magdeburg%20geb%C3%A4ude%2007&key=AIzaSyDr0JFW2XGwvmmwtuTsI982th3V_YKeebc" allowfullscreen></iframe>

{% endblock %}
