{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Nationale Technische Universit&auml;t Donetsk.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
	 <div class="container mtb">
	   <div class="row">
	     <div class="col-lg-5 col-lg-offset-1">
	     </div>
	     <div class="col-lg-4 col-lg-offset-1">
	       <a href="http://kpi.ua/"><img src="{% static 'pages/img/DPI.png' %}" class="img-centered"></a>
	     </div>
	     <div class="col-lg-5 col-lg-offset-1">
	       
	       <div class="spacing"></div>
	       <h4>Nationale Technische Universit&auml;t Donetsk</h4>
	       <p>Die Nationale Technische Universit&auml;t Donetsk wurde 1921 als Bergbauschule gegr&uuml;ndet. Unter den Absolventen findet sich auch der spätere Regierungschef der UdSSR Nikita Chruschtschow.	     </div>
	     
	     <div class="col-lg-4 col-lg-offset-1">
		    <div class="spacing"></div>
		    <h4>&Uuml;bersicht</h4>
		    <div class="hline"></div>
		    <p><b>Gr&uuml;ndungsjahr:</b> 1921</p>
		    <p><b>Studenten:</b> ca. 22000 (2007)</p>
		    <p><b>Mitarbeiter:</b> ca. 1500 (2007)</p>
		    <p><b>Professoren:</b> ca. 130 (2007)</p>
		    <p><b>Website:</b> <a href="http://donntu.edu.ua/">donntu.edu.ua</a></p>
		  </div>
	   </div><! --/row -->
	 </div><! --/container -->
	 
{% endblock %}
