{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{% trans "Entwicklung neuer Antriebskonzepte." %}</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-responsive" src="{% static 'pages/img/motor.jpg' %}" alt="">
    </div>
    <div class="col-lg-6">
      <p>{% trans "Die erste Deutsch-Technische Fakult&auml;t (DTF)wurde 1992 an der Donezker Nationalen Technischen Universit&auml;t (DonNTU) in Kooperation mit der  Otto-von-Guericke Universit&auml;t Magdeburg (OVGU) gegr&uuml;ndet. Wichtige Faktoren waren hierbei die bereits seit mehreren Jahrzehnten bestehende Partnerschaft zwischen der DonNTU und der OVGU und die Unterst&uuml;tzung seitens der Firma Siemens und des Deutschen Akademischen Austauschdienstes (DAAD)." %} </p>
      <p>{% trans " Die &auml;usserst positive Entwicklung der DTF in Donezk f&uuml;hrte zur Gr&uuml;ndung zweier weiterer DTF: an der Kharkover Nationalen Technischen Universit&auml;t (2003) und an der Kiever Nationalen Technischen  Universit&auml;t (2015)." %} </p>
    </div>
  </div><!--/row -->
  

</div><!--/container -->
{% endblock %}
