{% load i18n %}
{% get_current_language as LANGUAGE_CODE%}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="shortcut icon" href="{% static 'pages/ico/favicon.ico' %}">

    <title>{% trans "Deutsch-Technische Fakult&auml;t" %} </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'pages/../../static/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'pages/../../static/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'pages/../../static/css/font-awesome.min.css' %}" rel="stylesheet">


  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% trans "DTF" %}</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li {% if request.path|slice:"3:" == '/' %} class="active" {% endif %}><a href="/">{% trans "HOME" %} {{page_url}}</a></li>
            <li {% if '/study' in request.path %} class="active" {% endif %}><a href="study">{% trans "STUDIUM" %}</a></li>
            <li {% if '/history' in request.path %} class="active" {% endif %}><a href="concept">{% trans "KONZEPT" %}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "PARTNER" %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="ovgu">{% trans "OVGU" %}</a></li>
                <li><a href="dpi">{% trans "DPI" %}</a></li>
                <li><a href="khpi">{% trans "KhPI" %}</a></li>
                <li><a href="kpi">{% trans "KPI" %}</a></li>
              </ul>
            </li>
            <li {% if '/contact' in request.path %} class="active" {% endif %}><a href="contact">{% trans "KONTAKT" %}</a> </li>
            {% if user.is_authenticated %}<li><a href="{% url 'profile' %}">{% trans "PROFILE" %}</a> </li>
            {% else %}
                <li><a href="{% url 'login' %}">{% trans "LOGIN" %}</a> </li>
            {% endif %}
              <li>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input type="image" src="{% static 'pages/img/flag-flat-de.png' %}" value="de" name="language"  style="height: 35px; cursor: pointer; position: relative;  vertical-align: middle; padding-top: 15px; padding-right: 10px;"/>
            </form>
            </li>
            <li>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input type="image" src="{% static 'pages/img/flag-flat-uk.png' %}" value="en" name="language"  style="height: 35px; cursor: pointer; position: relative;  vertical-align: middle; padding-top: 15px; padding-right: 10px;"/>
            </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block content %}
    {% endblock %}


    <!-- *****************************************************************************************************************
         FOOTER
         ***************************************************************************************************************** -->
    <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4> {% trans "Unsere ukrainischen Partner" %}</h4>
            <div class="hline-w"></div>
            <p>
              <a href="http://donntu.edu.ua/en"  class="footer-icon">{% trans "DPI" %}</a>
              <a href="http://www.kpi.kharkov.ua/en/" class="footer-icon">{% trans "KhPI" %}</a>
              <a href="http://kpi.ua/en"  class="footer-icon">{% trans "KPI" %}</a>

 <!--             <a href="http://www.kpi.kharkov.ua/en/"><img src="{% static 'pages/img/KhPI_small.jpg' %}" style="margin:0px 20px"></a>
              <a href="http://donntu.edu.ua/"><img src="{% static 'pages/img/DPI_small.png' %}" style="margin:0px 20px"></a>
              <a href="http://kpi.ua/"><img src="{% static 'pages/img/KhPI_small.jpg' %}"></a>
 -->
            </p>
          </div>
          <div class="col-lg-4">
            <h4>{% trans "Social Media" %}</h4>
            <div class="hline-w"></div>
            <p>
              <a href="https://new.vk.com/deutech"><i class="fa fa-vk"></i></a>
              <a href="https://www.linkedin.com/groups/7065130"><i class="fa fa-linkedin"></i></a>
            </p>
          </div>
          <div class="col-lg-4">
            <h4>{% trans "Unsere F&ouml;rderer" %}</h4>
            <div class="hline-w"></div>
            <p>
              <a href="https://www.daad.de/"><img src="{% static 'pages/img/daad.png' %}" style="margin:0px 20px"></a>
              <a href="http://www.erasmusplus.de/"><img src="{% static 'pages/img/ErasmusPLUS.png' %}"></a>
            </p>
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <script src="{% static 'pages/../../static/js/jquery.min.js' %}"></script>
    <script src="{% static 'pages/../../static/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pages/../../static/js/retina-1.1.0.js' %}"></script>
    <script src="{% static 'pages/../../static/js/jquery.hoverdir.js' %}"></script>
    <script src="{% static 'pages/../../static/js/jquery.hoverex.min.js' %}"></script>
    <script src="{% static 'pages/../../static/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'pages/../../static/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'pages/../../static/js/custom.js' %}"></script>
    <script src="{% static 'pages/../../static/js/portfolio.js' %}"></script>
  </body>
</html>
