{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{% trans "Konzept." %}</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-responsive" src="{% static 'pages/img/vik_tessmer.jpg' %}" alt="">
    </div>
    <div class="col-lg-6">
      <h4>{% trans "Kurze Geschichte der Deutsch-Technischen Fakult&auml;ten" %}</h4>
      <p>{% trans "Die erste Deutsch-Technische Fakult&auml;t (DTF)wurde 1992 an der Donezker Nationalen Technischen Universit&auml;t (DonNTU) in Kooperation mit der  Otto-von-Guericke Universit&auml;t Magdeburg (OVGU) gegr&uuml;ndet. Wichtige Faktoren waren hierbei die bereits seit mehreren Jahrzehnten bestehende Partnerschaft zwischen der DonNTU und der OVGU und die Unterst&uuml;tzung seitens der Firma Siemens und des Deutschen Akademischen Austauschdienstes (DAAD)." %} </p>
      <p>{% trans " Die &auml;usserst positive Entwicklung der DTF in Donezk f&uuml;hrte zur Gr&uuml;ndung zweier weiterer DTF: an der Kharkover Nationalen Technischen Universit&auml;t (2003) und an der Kiever Nationalen Technischen  Universit&auml;t (2015)." %} </p>
    </div>
    <div class ="col-lg-6">
      <h4>{% trans "Unsere Ziele" %}</h4>
      <p> {% trans "Das prim&auml;re Ziel der Deutsch-Technischen Fakult&auml;ten liegt vor allem in der Entwicklung deutschsprachiger Studieng&auml;nge an den Partneruniversit&auml;ten in Donezk, Kharkov und Kiew, die in Inhalt und Struktur den europ&auml;ischen Anforderungen an Ingenieursstudieng&auml;nge gen&uuml;gen. Wichtige Schwerpunkte sind hierbei:" %}
        <br/>
        <ul style="list-style-position: inside;">
          <li> <p>{% trans "F&ouml;rderung von hochqualifizierten Nachwuchswissenschaftlern" %}</p> </li>
          <li><p>{% trans "Aufbau einer konsekutiven und bi-nationalen Ausbildungsstruktur" %}</p> </li>
          <li><p>{% trans "Entwicklung von bi-nationalen Forschungsprogrammen" %}</p></li>
        </ul>
      </p>
      <p>
        {% trans "F&uuml;r die Studieng&auml;nge der DTFen werden besonders talentierte Bachelor-Studenten ausgew&auml;hlt. Diese erhalten neben einer studienbegleitenden und fundierten Deutschausbildung, deutschen Vorlesungen vor Ort, auch die M&ouml;glichkeit nach einem integrieten Studium an der OVGU zus&auml;tzlich den Magdeburger Abschluss zu erhalten.Dar&uuml;berhinaus besteht f&uuml;r hervorragende Studenten mit einem Bachelor-Abschluss anderer Universit&auml;ten die M&ouml;glichkeit einer beschleunigten Deutschausbildung." %}
      </p>
    </div>
  </div><!--/row -->
</div><!--/container -->
{% endblock %}
