{% extends "pages/base_pages.html" %}
{#{% extends "pages/header.html" %}#}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>VDTF</h3>
        <h1>{% trans "Verbund Deutsch-Technische Fakult&auml;ten" %}</h1>
        <h5>{% trans "Grenzenloses lernen, lehren und forschen" %}</h5>
      </div>
      <div class="col-lg-8 col-lg-offset-2 himg">
        <img src="{% static 'pages/img/dtf_logo_small.png' %}" class="img-responsive">
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- ****************************************************************************************************************
     SERVICE LOGOS
     ***************************************************************************************************************** -->
<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4> {% trans "Studium" %} </h4>
        <p> {% trans "Neben einer soliden Deutschausbildung wird an den DTF auch eine hervorragende Ingenieursausbildung nach deutschem Vorbild vermittelt. Ein Studienaufenthalt an der Ott-von-Guericke Universit&auml;t Magdeburg und der rege Austausch zwischen allen Partner sind der Garant f&uuml;r unser hohes Niveau." %}</p>
        <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a> </p> -->
      </div>
      <div class="col-md-4">
        <i class="fa fa-flask"></i>
        <h4> {% trans "Forschung" %}</h4>
        <p> {% trans "An den DTF laufen innovative Forschungen und Entwicklungen zu verschiedenen Themen von Schwingungsd&auml;g grosser Strukturen bis zu aktuellen Fragen der Elektromobilit&auml;t. Auf vielen Feldern k&ouml;nnen sich besonders talentierte Absolventen der DTF im Rahmen ihrer Promotion einbringen." %}</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4> {% trans "Industrie" %}</h4>
        <p>{% trans "Absolventen der DTF sind durch ihre hohe fachliche Qualitfikation, hervorragenden Sprachkenntnisse und interkulturelle Kompetenz bei vielen Arbeitgebern begehrt und bekleiden nicht selten Schl&uuml;sselpositionen." %}</p>

      </div>
    </div>
  </div><!--/container -->
</div><!--/service -->

<div id="portfoliowrap">
  <h3>{% trans "AKTUELLE THEMEN AUS LEHRE UND FORSCHUNG" %}</h3>

  <div class="portfolio-centered">
    <div class="recentitems portfolio">
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="{% static 'pages/img/motor.jpg' %}" alt="">
          <div class="he-view">
            <a href="drive">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">{% trans "Entwicklung neuer Antriebskonzepte" %}</h3>
              </div><!-- he bg -->
            </a>
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item web-design">
        <div class="he-wrap tpl6">
          <img src="{% static 'pages/img/kran_icon.jpg' %}" alt="">
          <div class="he-view">
            <a href="crane">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">{% trans "Regelung von elastischen Kransystemen" %}</h3>
              </div><!-- he bg -->
            </a>
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="{% static 'pages/img/heli_icon.jpg' %}" alt="">
          <div class="he-view">
            <a href="labratory">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">{% trans "Aufbau eines verteiltes Laborpraktikum" %}</h3>
              </div><!-- he bg -->
            </a>
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="{% static 'pages/img/dreitank_icon.jpg' %}" alt="">
          <div class="he-view">
            <a href="studentlab">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">{% trans "Studentisches Praktikum an modernen Versuchsanlagen" %}</h3>
              </div><!-- he bg -->
            </a>

          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="{% static 'pages/img/gas_icon.jpg' %}" alt="">
          <div class="he-view">
            <a href="oilgas">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">{% trans "Optimierung der Erdgasproduktion" %}</h3>
              </div><!-- he bg -->
            </a>

          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

    </div><!-- portfolio -->
  </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
{% endblock %}
