{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}

	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Nationale Technische Universit&auml;t "Polytechnisches Institut Charkiw".</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	   <div class="row">
	     <div class="col-lg-5 col-lg-offset-1">
	     </div>
	     <div class="col-lg-4 col-lg-offset-1">
	       <a href="http://kpi.ua/"><img src="{% static 'pages/img/KhPI.jpg' %}" class="img-centered"></a>
	     </div>
	     <div class="col-lg-5 col-lg-offset-1">
	       
	       <div class="spacing"></div>
	       <h4>Nationale Technische Universit&auml;t "Polytechnisches Institut Charkiw"</h4>
	       <p>Die Nationale Technische Universit&auml;t "Polytechnisches Institut Charkiw" wurde 1885 gegr&uuml;ndet. Sie umfasst 21 Fakult&auml;ten an denen ca. 40000 Studenten studieren. Wahrscheinlich ber&uuml;hmtester Professor ist der Nobelpreistr&auml;ger Lev Landau, der hier von 1933 bis 1937 das Institut f&uuml;r theoretische Physik leitete.	     </div>
	     
	     <div class="col-lg-4 col-lg-offset-1">
		    <div class="spacing"></div>
		    <h4>&Uuml;bersicht</h4>
		    <div class="hline"></div>
		    <p><b>Gr&uuml;ndungsjahr:</b> 1885</p>
		    <p><b>Studenten:</b> ca. 40000</p>
		    <p><b>Mitarbeiter:</b> ca. 1700</p>
		    <p><b>Professoren:</b> ca. 160</p>
		    <p><b>Website:</b> <a href="http://www.kpi.kharkov.ua/en/">www.kpi.kharkova.ua</a></p>
		  </div>
	   </div><! --/row -->
	 </div><! --/container -->
	 
	 {% endblock %}
