{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}

	<div id="blue">
	    <div class="container">
			<div class="row">
			  <h3>Nationale Technische Universit&auml;t der Ukraine "Kiewer Polytechnisches Institut".</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	   <div class="row">
	     <div class="col-lg-5 col-lg-offset-1">
	     </div>
	     <div class="col-lg-4 col-lg-offset-1">
	       <a href="http://kpi.ua/"><img src="{% static 'pages/img/KPI.png' %}" class="img-centered"></a>
	     </div>
	     <div class="col-lg-5 col-lg-offset-1">
	       
	       <div class="spacing"></div>
	       <h4>Nationale Technische Universit&auml;t der Ukraine "Kiewer Polytechnisches Institut"</h4>
	       <p>Die Nationale Technische Universit&auml;t der Ukraine "Kiewer Polytechnisches Institut" wurde 1898  gegr&uuml;ndet.Die ca. 36000 Studenten verteilen sich auf 18 Fakult&auml;ten. Unter den Absolventen findet sich auch der spätere Regierungschef der UdSSR Nikita Chruschtschow.	     </div>
	     
	     <div class="col-lg-4 col-lg-offset-1">
		    <div class="spacing"></div>
		    <h4>&Uuml;bersicht</h4>
		    <div class="hline"></div>
		    <p><b>Gr&uuml;ndungsjahr:</b> 1898</p>
		    <p><b>Studenten:</b> ca. 36000</p>
		    <p><b>Mitarbeiter:</b> ca. 3100</p>
		    <p><b>Professoren:</b> ca. 375</p>
		    <p><b>Website:</b> <a href="http://kpi.ua/">kpi.ua</a></p>
		  </div>
	   </div><! --/row -->
	 </div><! --/container -->
	 
	 {% endblock %}
