{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{% trans "Aufbau eines verteiltes Laborpraktikum." %}</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-responsive" src="{% static 'pages/img/heli_icon.jpg' %}" alt="">
    </div>
    <div class="col-lg-6">
      <p>{% trans "Anschaffung, Aufbau und Betrieb neuer Versuchsanlagen ist oft ein hoher Kosten- und Zeitfaktor. Im Rahmen des Verbundes Deutsch-Technische Fakultäten haben wir uns daher geeinigt Teile unserer Laborausstattung gemeinsam zu Nutzen. Dies betrifft zum einen moderne Forschungsanlagen, zum anderen aber auch studentische Laborpraktika." %} </p>
      <p>{% trans "Zur Zeit befinden sich hierzu zwei Konzepte in der Testphase. Das erste basierte auf dem kommerziellen Programmpaket LabView. Als Alternative hierzu wurde eine eigene Open-Source basierte Lösung entwickelt, die sich auch mittels einfacher und kostengünstiger Hardware realisieren lässt." %} </p>
    </div>
  </div><!--/row -->
  

</div><!--/container -->
{% endblock %}
