{% extends 'navbar.html' %}
{% load i18n %}

{% block menu %}
<li {% if request.path|slice:"3:" == '/' %} class="active" {% endif %}><a href="/">{% trans "HOME" %} {{page_url}}</a></li>
<li {% if '/study' in request.path %} class="active" {% endif %}><a href={% url "study"%}>{% trans "STUDIUM" %}</a></li>
<li {% if '/history' in request.path %} class="active" {% endif %}><a href={% url "concept"%}>{% trans "KONZEPT" %}</a></li>
<li {% if '/blog' in request.path %} class="active" {% endif %}><a href={% url "blog" %}>{% trans "BLOG" %}</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "PARTNER" %} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href={% url "ovgu" %}>{% trans "OVGU" %}</a></li>
    <li><a href={% url "dpi" %}>{% trans "DPI" %}</a></li>
    <li><a href={% url "khpi" %}>{% trans "KhPI" %}</a></li>
    <li><a href={% url "kpi" %}>{% trans "KPI" %}</a></li>
  </ul>
</li>
<li {% if '/contact' in request.path %} class="active" {% endif %}><a href={% url "contact" %}>{% trans "KONTAKT" %}</a> </li>
{% if user.is_authenticated %}<li><a href="{% url 'profile' %}">{% trans "PROFILE" %}</a> </li>
{% else %}
    <li><a href="{% url 'login' %}">{% trans "LOGIN" %}</a> </li>
{% endif %}
{% endblock %}