{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{% trans "Otto-von-Guericke Universit&auml;t." %}</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mt">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1">
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <a href="http://www.ovgu.de/"><img src="{% static 'pages/img/OVGU.png' %}" class="img-centered"></a>
    </div>
    <div class="col-lg-5 col-lg-offset-1">

      <div class="spacing"></div>
      <h4>{% trans "Otto-von-Guericke Universit&auml;t" %}</h4>
      <p>{% trans "Die Otto-von-Guericke Universit&auml;t Magdeburg wurde 1993 aus der Vereinigung der Technischen Universit&auml;t, der P&auml;dagogischen Hochschule und der Medizinischen Akademie Magdeburg gegr&uuml;ndet. Sie umfasst 9 Fakult&auml;ten an denen ca. 14500 Studenten studieren. Der Anteil internationaler Studierender ist mit ca. 15% recht hoch und sorgt f&uuml;r ein lebendiges und offenes Studienklima." %}</p>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="spacing"></div>
      <h4>{% trans "&Uuml;bersicht" %}</h4>
      <div class="hline"></div>
      <p><b>{% trans "Gr&uuml;ndungsjahr" %}:</b> 1993</p>
      <p><b>{% trans "Studenten" %}:</b> ca. 14500</p>
      <p><b>{% trans "Mitarbeiter" %}:</b> ca. 2000</p>
      <p><b>{% trans "Professoren" %}:</b> ca. 200</p>
      <p><b>{% trans "Website" %}:</b> <a href="http://www.ovgu.de">www.ovgu.de</a></p>
    </div>

  </div><!--/row -->
</div><!--/container -->

{% endblock %}
