{% extends "pages/base_pages.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{% trans "Studium." %}</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-responsive" src="{% static 'pages/img/study.jpg' %}" alt="">
    </div>

    <div class="col-lg-6">
      <h2>{% trans "5 Gründe für ein Studium an einer DTF" %}</h2>
      <ul style="list-style-position: inside;">
        <li> <p>{% trans "Erster Schritt für eine internationale Karriere" %}</p> </li>
        <li> <p>{% trans "Hervorragende Berufsaussichten, " %}</p> </li>
        <li> <p>{% trans "Engagierte und hochqualifizierte Dozenten, " %}</p> </li>
        <li> <p>{% trans "Fordernde Ausbildung an modernen Anlagen" %}</p> </li>
        <li> <p>{% trans "Studienbegleitende Deutschausbildung" %}</p> </li>
        <li> <p>{% trans "Stipendien für besonders leistungsstarke Studenten" %}</p></li>
      </ul>

    </div>

  </div> <!--/row -->

  <div class="row">
    <div class="col-lg-6">
      <h2>{% trans "Genereller Studienablauf" %}</h2>
      {% trans "Begleitend zum Studium erhalten die Studenten der Deutsch-Technischen Fakultäten eine begleitende Deutschausbildung. "%}
    </div>
    <div class="col-lg-6">
      <img class="img-responsive img-centered" style=" margin-top: 25px;" src="{% static 'pages/img/Studienverlauf.jpg' %}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>{% trans "Studienprogramme" %}</h2>
      <div class="row" style="background-color: #e0e0e0">
        <div class="col-sm-4">
          <h3>{% trans "Kharkov" %}</h3>
          <ul style="list-style-position: inside;">
            <li>{% trans "Elektromechanische Systeme"%} </li>
            <li>{% trans "Digital Engineering"%} </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>{% trans "Donezk (Pokrovsk)" %}</h3>
          <ul style="list-style-position: inside;">
            <li>{% trans "Digital Engineering"%} </li>
            <li>{% trans "Automatisierungssysteme"%} </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>{% trans "Kiev" %}</h3>
          <ul style="list-style-position: inside;">
            <li>{% trans "Elektromechanische Systeme"%} </li>
            <li>{% trans "Automatisierung der Elektroenergieerzeugung und -verteilung" %} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>{% trans "Voraussetzungen" %}</h2>
      <p> {% trans "Potentielle Kandidaten sollten sich durch herausragende Studienleistungen und eine hohe Lernbereitschaft auszeichnen. Zur Immatrikulation an der Otto-von-Guericke Universität Magdeburg wird ein Nachweis über ausreichende Deutschkenntnisse benötigt. In der Regel ist dies das TestDaF Zertifikat. Die Anforderungen können sich hierbei in den einzelnen Programmen unterscheiden."%} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>{% trans "Meinungen unserer Absolventen" %}</h2>
      <div class="reviews">
        <table>
          <tr>
            <td>
              <div class="img-review">
                <img class="img-review" src="{% static 'pages/img/student1.jpg' %}" alt="">
              </div>
            </td>
            <td> <div class="name"> {% trans "Rostyslav" %} </div>
              <div class="text"> {% trans "Das Studium an der Deutsch-Technischen Fakultät in Donezk war für mich eine sehr spannende Zeit. Besonders genossen habe ich die ungewohnt vielen Freiheiten und Möglichkeiten, die ich während meiner Diplomarbeit in Magdeburg hatte." %} </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="img-review">
                <img class=" img-review" src="{% static 'pages/img/student2.jpg' %}" alt="">
              </div>
            </td>
            <td>
              <div class="name"> {% trans "Anton" %} </div>
              <div class="text"> {% trans "Während meiner Masterarbeit bei dSpace haben ich und auch meine Betreuer vor Ort gemerkt, wie hervorragend man uns auf die spätere Tätigkeit als Ingenieur an der Deutsch-Technischen Fakultät und in Magdeburg vorbereitet hat. " %} </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="img-review">
                <img class=" img-review" src="{% static 'pages/img/student3.jpg' %}" alt="">
              </div>
            </td>
            <td>
              <div class="name"> {% trans "Maria" %} </div>
              <div class="text"> {% trans "Die Begeisterung und der Enthusiasmus der Dozenten an der Deutsch-Technischen Fakultät und in Magdeburg wirkt einfach ansteckend. " %} </div>
            </td>
          <tr>
        </table>
      </div>
    </div>
  </div>
</div><!--/container -->


{% endblock %}
