{% extends 'pages/base_pages.html' %}
{% load static %}
{% block content %}
    <div class="container mtb">
        {% if  blog %}
            {% for bl in blog %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="text_title">
                                    <h2><a href="{{ bl.url }}">{{ bl.title }}</a></h2>
                                </div>
                                <div class="author_data">
                                    <strong>Data: </strong>{{ bl.create_date|safe }}
                                    <strong> | </strong>
                                    <strong>Author: </strong>{{ bl.author.get_full_name }}
                                    <strong>Author: </strong>{{ blog.image }}
                                </div>
                                <div class="text_blog">
                                    <p><img {% if bl.image %} src="{{ bl.image.small.url }}" {% else %} src="{% static 'pages/img/blog3.jpg' %}" {% endif %} alt="" width="152" height="224" class="blog_img">{{ bl.text|safe }} [...]</p>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="button_read">
                                    <a href="{{ bl.url }}" class="button_blog btn btn-sm btn-primary"> Read more<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                                <div>
                                <hr class="hr_text">
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}