{% extends 'pages/base_pages.html' %}
{% load static %}
{% block content %}
    <div class="container mtb">
        {% if  blog %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="text_title text_title_all">
                                <h2><a>{{ blog.title }}</a></h2>
                            </div>
                            <div class="text_blog">
                              <p><img {% if blog.image %} src="{{  blog.image.detail.url }}" {% else %} src="{% static 'pages/img/blog3.jpg' %}" {% endif %} alt="" class="blog_img">{{ blog.text|safe }}</p>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                 <div class="author_data author_data_all">
                     <strong>Data: </strong>{{ blog.create_date|safe }}
                     <strong> | </strong>
                     <strong>Author: </strong>{{ blog.author.get_full_name }}
                 </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

{#            <li>{{ blog.title }}</li>#}
{#            <li>{{ blog.text }}</li>#}
{#            <li>{{ blog.author.get_full_name }}</li>#}
        {% endif %}
    </div>
{% endblock %}