{% load i18n %}
{% get_current_language as LANGUAGE_CODE%}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="shortcut icon" href="{% static 'pages/ico/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/font-awesome-4.2.0/css/font-awesome.min.css' %}"/>

    <title>Deutsch-Technische Fakultät - {% block title %}{% endblock %}</title>
</head>
<body>
<div>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</div>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    {% block scripts %}
    {% endblock scripts %}
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2017",
                dateFormat: 'yy-mm-dd'
              // You can put more options here.

            });
          });
    </script>

</body>
</html>
