{% load i18n %}
{% load staticfiles %}
<!-- *****************************************************************************************************************
         FOOTER
         ***************************************************************************************************************** -->
    <div id="footerwrap" style="padding-bottom: 90px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4> {% trans "Unsere ukrainischen Partner" %}</h4>
            <div class="hline-w"></div>
            <p>
              <a href="http://donntu.edu.ua/en"  class="footer-icon">{% trans "DPI" %}</a>
              <a href="http://www.kpi.kharkov.ua/en/" class="footer-icon">{% trans "KhPI" %}</a>
              <a href="http://kpi.ua/en"  class="footer-icon">{% trans "KPI" %}</a>

 <!--             <a href="http://www.kpi.kharkov.ua/en/"><img src="{% static 'pages/img/KhPI_small.jpg' %}" style="margin:0px 20px"></a>
              <a href="http://donntu.edu.ua/"><img src="{% static 'pages/img/DPI_small.png' %}" style="margin:0px 20px"></a>
              <a href="http://kpi.ua/"><img src="{% static 'pages/img/KhPI_small.jpg' %}"></a>
 -->
            </p>
          </div>
          <div class="col-lg-4">
            <h4>{% trans "Social Media" %}</h4>
            <div class="hline-w"></div>
            <p>
              <a href="https://new.vk.com/deutech"><i class="fa fa-vk"></i></a>
              <a href="https://www.linkedin.com/groups/7065130"><i class="fa fa-linkedin"></i></a>
            </p>
          </div>
          <div class="col-lg-4">
            <h4>{% trans "Unsere F&ouml;rderer" %}</h4>
            <div class="hline-w"></div>
            <p>
              <a href="https://www.daad.de/"><img src="{% static 'pages/img/daad.png' %}" style="margin:0px 20px"></a>
              <a href="http://www.erasmusplus.de/"><img src="{% static 'pages/img/ErasmusPLUS.png' %}"></a>
            </p>
          </div>

        </div>
      </div>
    </div>