{% load i18n %}
{% load staticfiles %}
<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% trans "DTF" %}</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
                {% block menu %}{% endblock %}

            <li>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input type="image" src="{% static 'pages/img/flag-flat-de.png' %}" value="de" name="language"  style="height: 35px; cursor: pointer; position: relative;  vertical-align: middle; padding-top: 15px; padding-right: 10px;"/>
                </form>
            </li>
            <li>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input type="image" src="{% static 'pages/img/flag-flat-uk.png' %}" value="en" name="language"  style="height: 35px; cursor: pointer; position: relative;  vertical-align: middle; padding-top: 15px; padding-right: 10px;"/>
                </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
