{% load crispy_forms_tags %}
{% load i18n %}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Visits"%}</h4>
    </div>
    <form method="POST" action="{% url 'add_visit' %}">{% csrf_token %}
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    </br>
        {#                FIXME: need to fix errors #}
                    {{ add_visit_form.errors }}
                    <div class="col-sm-12">
                        <label for="{{ add_visit_form.recipient.id_for_label }}">{% trans "Recipient" %}</label><br/>
                        {{ add_visit_form.recipient }}
                        <label for="{{ add_visit_form.password.id_for_label }}">{% trans "University" %}</label><br/>
                        {{ add_visit_form.university }}
                        <label for="{{ add_visit_form.from_date.id_for_label }}">{% trans "From:" %}</label><br/>
                        {{ add_visit_form.from_date }}
                        <label for="{{ add_visit_form.to_date.id_for_label }}">{% trans "To:" %}</label><br/>
                        {{ add_visit_form.to_date }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-default btn-success" value="{% trans "Add" %}" />
        </div>
    </form>
</div>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2017",
                dateFormat: 'yy-mm-dd'
              // You can put more options here.

            });
          });
    </script>
{#    <form class="form-horizontal" action="{% url 'add_visit' %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input type="submit" class="btn btn-submit col-md-offset-2">#}
{#    </form>#}

