{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load staticfiles %}
{% block scripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="{% static 'pages/../../../static/js/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>

        <script src="{% static 'pages/../../../static/js/modeling.js' %}"></script>

        <style>
            #ex1Slider .slider-selection {
                background: #BABABA;
            }
            #content {
                width: 880px;
                margin: 0 auto;
                padding: 10px;
            }
            .demo-container {
                box-sizing: border-box;
                width: 360px;
                height: 225px;
                /*padding: 20px 15px 15px 15px;*/
                /*margin: 15px auto 30px auto;*/
                border: 1px solid #ddd;
                background: #fff;
                background: linear-gradient(#f6f6f6 0, #fff 50px);
                background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
                background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
                background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
                background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
                box-shadow: 0 3px 10px rgba(0,0,0,0.15);
                -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
                -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
                -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
                -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
            }

            .demo-placeholder {
                width: 100%;
                height: 100%;
                font-size: 14px;
                line-height: 1.2em;
                display: inline-block;
            }

            .legend table {
                border-spacing: 5px;
            }
            .sup {
              position: relative;
              bottom: 1ex;
              font-size: 80%;
            }
        </style>
{% endblock scripts %}
{% block content %}
    <div class="container mtb">
        <div class="row">
            <input type="hidden" id="ee" value="eee">
            <div class="col-sm-8">
                <div class="col-sm-6">
                    <h3>{% trans "Sollwert/Istwert Position (mm)" %}</h3>
                    <div id="content_1">
                        <div class="demo-container">
                            <div id="placeholder_1" class="demo-placeholder"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>{% trans "Speed (rpm)" %}</h3>
                    <div id="content_2">
                        <div class="demo-container">
                            <div id="placeholder_2" class="demo-placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <br /><br />
                <iframe src="http://localhost:8081" width="300" height="228" style="margin-top: 8px;"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-6">
                    <h3>{% trans "Strom (mA)" %}</h3>
                    <div id="content_3">
                        <div class="demo-container">
                            <div id="placeholder_3" class="demo-placeholder"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>{% trans "Beschleunigung (mm/c*c)" %}</h3>
                    <div id="content_4">
                        <div class="demo-container">
                            <div id="placeholder_4" class="demo-placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h2 class="text-center">{% trans "Kompensator" %}</h2>
                <div class="text-center">
                    <math>
                          <mstyle displaystyle="true">
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="a0" id="a0" value="1" />
                                        </annotation-xml>
                                    </semantics>
                                    <mi></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="a1" id="a1" value="-3.1337550"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-1</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="a2" id="a2" value="3.0934937"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-2</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="a3" id="a3" value="-0.4128838"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-3</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="a4" id="a4" value="-0.9156216"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-4</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="a5" id="a5" value="0.3688720"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-5</i></sup></mi>
                                </msup>
                          </mstyle>
                    </math>
                    <div class="line_black"></div>
                    <math>
                          <mstyle displaystyle="true">
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="b0" id="b0" value="-0.0076243"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="b1" id="b1" value="0.0190371"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-1</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="b2" id="b2" value="-0.0072153"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-2</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="b3" id="b3" value="-0.0153687"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-3</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="b4" id="b4" value="0.0148546"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-4</i></sup></mi>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <semantics>
                                        <annotation-xml encoding="application/xhtml+xml">
                                            <input type="text" size="2" name="b5" id="b5" value="-0.0036535"/>
                                        </annotation-xml>
                                    </semantics>
                                    <mi>Z<sup><i>-5</i></sup></mi>
                                </msup>
                          </mstyle>
                    </math>
                </div>
                <div class="text-center">
                    <br />
                    <input type="hidden" id="user" value="{{ request.user.account.id }}">
                    <input type="hidden" id="station" value="{{ request.resolver_match.kwargs.id }}">
                    <a href="#" class="btn btn-success btn-lg" id="start_modeling">{% trans "Modeling" %}</a>
                    <div id="show_wait" style="color: red;"><h4>{% trans "Warten auf den Start der Simulation" %}</h4></div>
                    <div id="start_mod" style="color: green"><h4>{% trans "Simulation begonnen" %}</h4></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
