{% extends 'navbar.html' %}
{% load i18n %}
    {% block menu %}
    {% if request.user.is_authenticated %}
        <li {% if '/stations' in request.path %} class="active" {% endif %}><a href="{% url 'stations' %}">{% trans "STATIONS" %}</a></li>
        <li {% if '/results' in request.path %} class="active" {% endif %}><a href="{% url 'results' %}">{% trans "MY MODELING" %}</a></li>
        <li {% if '/profile' in request.path %} class="active" {% endif %}><a href="{% url 'profile' %}">{% trans "PROFILE" %}</a></li>
        <li><a href="{% url 'logout' %}">{% trans "LOGOUT" %}</a></li>
    {% endif %}
    {% endblock %}
