{% extends 'accounts/base_profile.html' %}
{% load static %}
{% load i18n %}
{% block title %}Profile{% endblock %}
{% block profile-content %}
    <div class="container mtb up">
        <h1>{{ account.get_full_name }}</h1>
        <hr>
        <div class="text-right">
            <a href="{% url 'profile_settings' %}" type="button" class="btn btn-sm btn-primary">
                <i class="fa fa-pencil-square-o"></i> {% trans "Edit" %}
            </a>
        </div>
        <div class="col-sm-3">
            <div class="img_avatar">
            {% if account.photo.avatar %}
                <img src="{{ account.photo.avatar.url }}"  class="center-block" alt="а">
            {% else %}
                <img src="{% static 'pages/img/avatar.jpg' %}"  class="center-block" alt="а">
            {% endif %}
            </div>

        </div>
        <div class="col-sm-5">
            <fieldset class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4">{% trans "First name" %}</label>
                    <div class="col-sm-8">
                        {{ account.first_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{% trans "Last name" %}</label>
                    <div class="col-sm-8">
                        {{ account.last_name }}
                    </div>
                </div>
                {% if account.middle_name %}
                <div class="form-group">
                    <label class="col-sm-4">{% trans "Middle name" %}</label>
                    <div class="col-sm-8">
                        {{ account.middle_name }}
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-4">{% trans "City" %}</label>
                    <div class="col-sm-8">
                        {{ account.city }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{% trans "Date birth" %}</label>
                    <div class="col-sm-8">
                        {{ account.birthday }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4">{% trans "University" %}</label>
                    <div class="col-sm-8">
                        {{ account.university }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{% trans "Degree" %}</label>
                    <div class="col-sm-8">
                        {{ account.degree }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{% trans "E-mail" %}</label>
                    <div class="col-sm-8">
                        {{ account.get_email }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="col-sm-1"></div>
        <div class="col-sm-10 center">
            <h2>{% trans "Visits" %}</h2>
            {% if visits %}
                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans "University" %}</th>
                            <th>{% trans "Professor" %}</th>
                            <th>{% trans "From" %}</th>
                            <th>{% trans "To" %}</th>
                            <th>{% trans "Arrival" %}</th>
                            <th>{% trans "Departure" %}</th>
                            <th>{% trans "Invitation" %}</th>
                            <th>Approved</th>
                        </tr>
                    </thead>
                    <tbody>
{#                        <tr>#}
{#                            <td>ex</td>#}
{#                            <td>ex</td>#}
{#                            <td>01.04.2017</td>#}
{#                            <td>31.07.2017</td>#}
{#                            <td>01.05.2017</td>#}
{#                            <td>31.04.2017</td>#}
{#                            <td><i class="fa fa-file-pdf-o"></i><a href="">Einladung.pdf</a></td>#}
{#                        </tr>#}
                        {% for visit in visits %}
                            <tr>
                                <td>{{ visit.university }}</td>
                                <td>{{ visit.recipient }}</td>
                                <td>{{ visit.from_date }}</td>
                                <td>{{ visit.to_date }}</td>
                                <td>{{ visit.arrival }}</td>
                                <td>{{ visit.departure }}</td>
                                {% if visit.approved %}
                                    <td><i class="fa fa-file-pdf-o"></i><a href="{{ visit.invitation.url }}">  Download</a></td>
                                    <td class="icon_button green">
                                        <a><i class="fa fa-check-circle" aria-hidden="true"></i></a></td>
                                {% else %}
                                    <td>None</td>
                                    <td class="icon_button red">
                                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>{% trans "You have not visits. You can ADD it." %}</h3>
            {% endif %}
            <div class="text-right">
                <!-- Trigger the modal with a button -->
                <a type="button" id="comment-button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> {% trans "Add" %}
                </a>
{#                <button  class="btn btn-large">Or click here!</button>#}
            <br /><br />
            </div>
          <div id="form-modal" class="modal fade">
              <div class="modal-dialog media-modal" id="modal-dialog">
                  <!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
            <div class="col-sm-1"></div>

    </div>
    <script>
        $('#comment-button').click(function() {
            $('#modal-dialog').load("{% url 'add_visit' %}", function () {
                $('#form-modal').modal('toggle');
            });
        });
    </script>

{% endblock profile-content %}