{% extends 'accounts/base_profile.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block profile-content %}

<div class="container mtb">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <span class="validator-error">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="col-sm-6">
                        <div>
                            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label><br/>
                            {{ form.first_name }}
                        </div>
                        <div>
                            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                            {{ form.last_name }}
                        </div>
                        <div>
                            <label for="{{ form.middle_name.id_for_label }}">{{ form.middle_name.label }}</label>
                            {{ form.middle_name }}
                        </div>

                        <div>
                            <label for="{{ form.birthday.id_for_label }}">{{ form.birthday.label }}</label>
                            {{ form.birthday }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                            {{ form.city }}
                        </div>
                        <div>
                            <label for="{{ form.university.id_for_label }}">{{ form.university.label }}</label>
                            {{ form.university }}
                        </div>
                        <div>
                            <label for="{{ form.degree.id_for_label }}">{{ form.degree.label }}</label>
                            {{ form.degree }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                        <div class="col-sm-4">
                            <label  for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
                            {{ form.photo }}

                            {% if photo %}
                            <div class="checkbox red">
                                    {{ form.delete_photo }}<label for="{{ form.delete_photo.id_for_label }}">{{ form.delete_photo.label }}</label>
                                </div>
                            {% endif %}
                        </div>
                         <div class="col-sm-8"></div>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-sm-12 text-right profile-but">
                        <br/>
                        <a href="{% url 'profile' %}" class="btn btn-default">Cancel</a>
                        <input class="btn btn-default btn-success" type="submit" value="Save" />
                    </div>
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>

{% endblock profile-content %}