{% extends 'accounts/profile/../base_profile.html' %}
{% load static %}
{% load i18n %}
{% block title %}Results{% endblock %}
{% block profile-content %}
    <div class="container mtb contain_modeling">
        <h1>{% trans "Results" %}</h1>
    </div>
    <div class="container">
        <div class="col-sm-12">
            {% if results %}
                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans "Station" %}</th>
                            <th>{% trans "Creation time" %}</th>
                            <th>{% trans "Finish date" %}</th>
                            <th>{% trans "Excel" %}</th>
                            <th>{% trans "PDF" %}</th>
                            <th>{% trans "Status" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td><a href="{{ result.station.get_url }}">{{ result.station }}</a></td>
                                <td>{{ result.creation_time }}</td>
                                {% if result.status == 1 %}
{#                                   Task in queue #}
                                    <td></td>
                                    <td class="icon_button red">
                                        <a><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button red">
                                        <a><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button red">
                                        <a title="Task is queue">
                                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                {% elif result.status == 2 %}
{#                                    Task is done #}
                                    <td>{{ result.finish_time }}</td>
                                    <td class="icon_button green">
                                        <a href="{% url 'get_excel' guid=result.get_guid %}">
                                            <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button green">
                                        <a href="{% url 'get_pdf' guid=result.get_guid %}">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button green">
                                        <a title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></a>
                                    </td>
                                {% elif result.status == 3 %}
{#                                    Task is canceled #}
                                    <td>{{ result.finish_time }}</td>
                                    <td class="icon_button red">
                                       <a><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button red">
                                        <a><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button red">
                                        <a title="Canceled">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                {% else %}
{#                                    Something bad #}
                                    <td>{{ result.finish_time }}</td>
                                    <td class="icon_button red">
                                        <a><i class="fa fa-file-excel" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button red">
                                        <a><i class="fa fa-file-pdf" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="icon_button red">
                                        <a title="Task is queue">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <br>
            {% else %}
                <h3>{% trans "You have not results yet. Do you want to start?" %}</h3>
                <a href="{% url 'stations' %}">GOTO MODELING</a>
            {% endif %}
        </div>
        <br/>
    </div>
{% endblock profile-content %}