{% extends 'accounts/profile/../base_profile.html' %}
{% load static %}
{% load i18n %}


    {% block title %}Station Info - {% if station.name %}{{ station.name }}{% endif %}{% endblock %}
    {% block profile-content %}
        <div class="container mtb">
            <a href="{{ back_url }}">Go to previous page</a>
                {% if station %}

                    <h1>{% trans "Station:" %} {{ station.name }}</h1>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <p><h3>{% trans "Description:" %}</h3> {{ station.description|safe }}</p>
                                <p><h3>{% trans "Duration:" %}</h3> {{ station.duration }}</p>
                                <p><h3>{% trans "Variables:" %}</h3></p>
                            </div>
                            <div class="col-sm-6">
            {#                    <img src="{% static 'pages/img/dreitank_icon.jpg' %}" alt="">#}
                                {% if station.image %}
                                    <img src="{{ station.image.info.url }}" alt="">
                                {% else %}
                                    <img src="{% static '/pages/img/laboratory.jpg' %}" alt="">
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <br />
                        {% if station.guid %}
                        <a href="{% url 'modeling' station.guid %}" class="btn btn-success btn-lg">{% trans "Start modeling" %}</a>
                        {% endif %}
                    </div>
                {% else %}
                    <br />
                    <br />
                    <h2>There is no stations</h2>
                {% endif %}
        </div>

    {% endblock profile-content %}

