{% extends 'accounts/profile/../base_profile.html' %}
{% load static %}
{% load i18n %}
{% block title %}Stations{% endblock %}

{% block profile-content %}
    <div class="container mtb">
        <h1>{% trans "Stations" %}</h1>
        <div class="row">
            <div class="col-sm-12">
                {% for station in stations %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption district-height">
                                <h4 class="text-center">
                                    <a href="{{ station.url }}" class="stati1on-name">{{ station.name }}</a>
                                </h4>
                                {% if station.image %}
                                    <img src="{{ station.image.small.url }}" alt="">
                                {% else %}
                                    <img src="{% static '/pages/img/laboratory_small.jpg' %}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $(function (){
            $("#select_station").change(function(){
                $.ajax({
                    url: '{% url "short_station_info" %}',
                    data: {'id':$("#select_station").val()},
                    type: 'GET',
                    success: function (data){
                        $("#description").text(data.description),
                        $("#duration").text(data.duration)
                    }
                });
                $('#button').show();
                {#FIXME: поискать лучшее решение#}
{#                var str = "{% url 'station_info' id=0 %}"#}
{#                console.log(str)#}

                str = str.substring(0, str.length - 2);
                str = str + $("#select_station").val();
                $("#button").attr("href", str);
            });
            console.log($("#select_station").val());

{#            var station1_id = $("#select_station").val();#}
{#            console.log({% url "station_info" pk=1 %});#}
{#            if ($("#select_station").val() != null) {#}
{#            $("#sta1rt").click(function(){#}
{#                var station1_id = $("#select_station").val();#}
{#                console.log(station1_id)#}
{#                $.ajax({#}
{#                    url:,#}
{#                    data: {'id':$("#select_station").val()},#}
{#                    type: 'GET'#}
{#                })#}
{#            })#}
        })
    </script>
{% endblock profile-content %}